.login_box {
  max-width: 450px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  background: white;
  box-shadow: 5px 5px 15px 5px #00000036;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(40, 90, 255, 0.772);
}
